.footer{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.position{
    display: flex;
    justify-content: space-between;
}

.footer-link{
    font-size:15px;
    text-decoration: none;
}