 

.containers{
    --bs-gutter-y:600px;
    padding-left: calc(var(--bs-gutter-y)/2);
    padding-right: calc(var(--bs-gutter-y)/2);
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (max-width:1025px){
  .containers{
    --bs-gutter-y:50px;
    padding-left: calc(var(--bs-gutter-y)/2);
    padding-right: calc(var(--bs-gutter-y)/2);
    margin-left: auto;
    margin-right: auto;
    
}
}

.bg{
  background: rgb(1,1,10);
background: linear-gradient(90deg, rgba(1,1,10,1) 0%, rgba(12,12,40,1) 50%, rgba(12,14,27,1) 100%, rgba(11,28,31,1) 100%);
}

.tours-heading-container{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 100px;
   
}

.tours-heading{
    display: inline-block;
    position: relative;
    padding: 0 .625em;
    z-index:1;
}

.tours-heading:before{
    position: absolute;
       content: " ";
       width: 100%;
       height: .875rem;
       background: #ff5252;
       bottom: .875rem;
       left: 0;
       top:60%;
       z-index:-1;
} 



html {
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing:inherit;
  }
  
 
  
  
  
  h1 {
    color: white;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  

.block-content {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 3rem;
}

.switch-fot {
    font-family: 'Source Code Pro', monospace;
}

.border-2 {
    border-color: #ff5252 !important;
}

.btn-s {
    padding: .29rem .725rem .29rem .625rem;
    font-size: .6875rem;
}

.btn-primary {
    color: rgba(255,255,255,.7);
    background-color: transparent;
    border-color: rgba(255,255,255,.07) !important;
    font-weight: 700;
}

.btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.6875rem 1.2rem;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    border-radius: 0;
    font-weight: 700;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sec-tour a.btn-s.uppercase.btn.btn-primary.with-ico.border-2 {
    margin-right: 3px;
}
.tabs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  --tab-x:100px;
  padding-left: calc(var(--tab-x)/2);
  padding-right: calc(var(--tab-x)/2);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:1440px){
  .tabs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    --tab-x:10px;
    padding-left: calc(var(--tab-x)/2);
    padding-right: calc(var(--tab-x)/2);
    margin-left: auto;
    margin-right: auto;
  }

  .tab-panel {
    display: flex;
    justify-content: center;
    padding: 30px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  .video{
    width: 100px;
  }
  .tours-section{
    display:none;
  }
}

.tab-panel {
  display: flex;
  justify-content: center;
  padding: 60px;
  opacity: 1;
  transition: opacity 0.3s;
}

.tab-title{
  color:#000;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  height: 512px;
  border: none;
}

@media screen and (max-width:768px){
  .responsive-iframe {
    position: relative;
    width: 100%;
    height: 412px;
    border: none;
  }
}

@media screen and (max-width:480px){
  .responsive-iframe {
    position: relative;
    width: 100%;
    height: 200px;
    border: none;
  }
}

.content{
     display: flex;
    flex-direction: row;
    justify-content: center;
}