.zoom-img {
    animation: scale 60s linear infinite;
    
  }

@media screen and (max-width:480px){
  .cr-img{
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(2);
  }

  .zoom-img{
    animation: none;
  }
}

    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }

.bb{
  border-bottom: none !important;
}

.background{
  background-color: transparent !important;
}




